## Contents:
* [Define a model with objective class](#obj)
* [Pick a fitting algorithm](#alg)
* [Model fitting](#fit)
* [Sample from posterior](#res)

In [1]:
from sims_pars.fit.toys import get_betabin
from sims_pars.fit import ApproxBayesComSMC

## Define a model with objective class <a class="anchor" id="obj"></a>

In [2]:
model = get_betabin([4, 4])
model.FreeParameters

['p1', 'p2']

## Pick a fitting algorithm <a class="anchor" id="type"></a>

In [3]:
alg = ApproxBayesComSMC(parallel=True, n_collect=300, max_round=10)
alg

## Model fitting <a class="anchor" id="fit"></a>

In [4]:
alg.fit(model)

20-04-2023 14:00:58 INFO: Initialising
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  10 tasks      | elapsed:    1.4s
[Parallel(n_jobs=4)]: Done 332 tasks      | elapsed:    2.5s
[Parallel(n_jobs=4)]: Done 500 out of 500 | elapsed:    3.0s finished
20-04-2023 14:01:01 INFO: Step to 1
20-04-2023 14:01:01 INFO: Round 0, ESS 500.00
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  12 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 452 tasks      | elapsed:    1.5s
[Parallel(n_jobs=4)]: Done 500 out of 500 | elapsed:    1.7s finished
20-04-2023 14:01:02 INFO: Step to 2
20-04-2023 14:01:02 INFO: Round 1, ESS 447, Epsilon 2077.6000, Acceptance 90.4%
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  12 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 437 tasks      | elapsed:    1.4s
[Parallel(n_jobs=4)]: Done 500 out of 500 | elapsed:    1.5s finished
20-04-2023 14:01:04 INFO: Step to 3
20-04-2023 14:01:04 INFO: Round 2, ESS 413, Epsilon 1568.0000, Acceptance 84.8%
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  12 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 452 tasks      | elapsed:    1.4s
[Parallel(n_jobs=4)]: Done 500 out of 500 | elapsed:    1.5s finished
20-04-2023 14:01:05 INFO: Step to 4
20-04-2023 14:01:05 INFO: Round 3, ESS 378, Epsilon 1223.0126, Acceptance 77.8%
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  12 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 437 tasks      | elapsed:    1.2s
[Parallel(n_jobs=4)]: Done 500 out of 500 | elapsed:    1.4s finished
20-04-2023 14:01:07 INFO: Step to 5
20-04-2023 14:01:07 INFO: Round 4, ESS 342, Epsilon 980.0000, Acceptance 72.8%
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  12 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 437 tasks      | elapsed:    1.3s
[Parallel(n_jobs=4)]: Done 500 out of 500 | elapsed:    1.5s finished
20-04-2023 14:01:08 INFO: Step to 6
20-04-2023 14:01:08 INFO: Round 5, ESS 315, Epsilon 803.6000, Acceptance 71.2%
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  12 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 422 tasks      | elapsed:    1.2s
[Parallel(n_jobs=4)]: Done 500 out of 500 | elapsed:    1.4s finished
20-04-2023 14:01:10 INFO: Step to 7
20-04-2023 14:01:10 INFO: Round 6, ESS 500, Epsilon 637.0000, Acceptance 83.0%
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  12 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 452 tasks      | elapsed:    1.2s
[Parallel(n_jobs=4)]: Done 500 out of 500 | elapsed:    1.4s finished
20-04-2023 14:01:11 INFO: Step to 8
20-04-2023 14:01:11 INFO: Round 7, ESS 440, Epsilon 509.6000, Acceptance 77.6%
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  12 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 437 tasks      | elapsed:    1.2s
[Parallel(n_jobs=4)]: Done 500 out of 500 | elapsed:    1.4s finished
20-04-2023 14:01:13 INFO: Step to 9
20-04-2023 14:01:13 INFO: Round 8, ESS 399, Epsilon 401.8000, Acceptance 70.8%
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  12 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 452 tasks      | elapsed:    1.3s
[Parallel(n_jobs=4)]: Done 500 out of 500 | elapsed:    1.5s finished
20-04-2023 14:01:14 INFO: Step to 10
20-04-2023 14:01:14 INFO: Round 9, ESS 350, Epsilon 333.2000, Acceptance 67.2%
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  12 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 452 tasks      | elapsed:    1.2s
[Parallel(n_jobs=4)]: Done 500 out of 500 | elapsed:    1.4s finished
20-04-2023 14:01:16 INFO: Step to 11
20-04-2023 14:01:16 INFO: Round 10, ESS 313, Epsilon 254.8000, Acceptance 62.4%

## Sample from posterior <a class="anchor" id="res"></a>

In [5]:
po = alg.sample_posteriors(300)
po

20-04-2023 14:19:15 INFO: Collecting posterior
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  10 tasks      | elapsed:    1.6s
[Parallel(n_jobs=4)]: Done 272 tasks      | elapsed:    2.4s
[Parallel(n_jobs=4)]: Done 300 out of 300 | elapsed:    2.5s finished

In [10]:
po.to_df().describe()

               p1          p2     al     be
count  300.000000  300.000000  300.0  300.0
mean     0.440650    0.243972    1.0    1.0
std      0.226281    0.130047    0.0    0.0
min      0.017742    0.004170    1.0    1.0
25%      0.221935    0.132169    1.0    1.0
50%      0.455012    0.231850    1.0    1.0
75%      0.599822    0.350359    1.0    1.0
max      0.913835    0.611991    1.0    1.0

In [11]:
alg.Monitor.Trajectories

      Round  Eval         Eps    ESS    Acc
Time
0         0   500         inf  500.0  1.000
1         1   500  2077.60000  447.0  0.904
2         2   500  1568.00000  413.0  0.848
3         3   500  1223.01256  378.0  0.778
4         4   500   980.00000  342.0  0.728
5         5   500   803.60000  315.0  0.712
6         6   500   637.00000  500.0  0.830
7         7   500   509.60000  440.0  0.776
8         8   500   401.80000  399.0  0.708
9         9   500   333.20000  350.0  0.672
10       10   500   254.80000  313.0  0.624